<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinghui.dao.UserMapper">
    <cache/>
    <!-- 用于select查询公用抽取的列 -->
    <resultMap id="UserResultMap" type="User">
        <result property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="sex" column="sex"/>
        <result property="phoneNo" column="phone_no"/>
        <result property="realName" column="real_name"/>
        <result property="onlineState" column="online_state"/>
        <result property="checkCode" column="check_code"/>
        <result property="phoneCode" column="phone_code"/>
        <result property="createUser" column="create_user"/>
        <result property="updateUser" column="update_user"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="state" column="state"/>
        <result property="type" column="type"/>
    </resultMap>

    <sql id="allColumn">
	    id,user_name,password,email,sex,phone_no,real_name,online_state,
	    check_code,phone_code,create_user,update_user,create_time,update_time,
	    state,type
	</sql>

    <!-- 查询所有 -->
    <select id="selectUserList" resultMap="UserResultMap">
        SELECT  <include refid="allColumn"/>
        FROM  test.user
    </select>

</mapper>

